*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fields{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 1rem auto;
    align-items: center;
    gap: .1rem;
}
.field{
    display: flex;
    justify-content: space-between; 
    width: 100%;    
      
}
h2{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
